# --- CONFIGURATION DOCKER REGISTRY ---
# Remplace par ton pseudo GitHub si tu veux pull tes propres images, 
# mais en local tu construis souvent directement ou utilises 'latest'
OWNER_LC=ton_pseudo_github_en_minuscules

# --- VERSIONS DES IMAGES (Par défaut 'latest' pour le local) ---
FRONTEND_VERSION=latest
GATEWAY_VERSION=latest
AUTH_VERSION=latest
TASKS_VERSION=latest
PROJECTS_VERSION=latest
NOTIFICATIONS_VERSION=latest

# --- SECRETS DE BASE DE DONNÉES ---
# Ces variables vont alimenter ${DB_ROOT_PASSWORD} et ${DB_PASSWORD} de ton compose
DB_ROOT_PASSWORD=root_local_pass
DB_PASSWORD=app_local_pass

# --- SÉCURITÉ GATEWAY ---
# Une clé arbitraire pour tester les sessions en local
GATEWAY_SESSION_SECRET=une_cle_secrete_super_longue_et_aleatoire_pour_le_dev