# --- CONFIGURATION DOCKER REGISTRY ---
# Remplace par ton pseudo GitHub si tu veux pull tes propres images, 
# mais en local tu construis souvent directement ou utilises 'latest'
OWNER_LC=training-for-studies-master

# --- VERSIONS DES IMAGES (Par défaut 'latest' pour le local) ---
FRONTEND_VERSION=latest
GATEWAY_VERSION=latest
AUTH_VERSION=latest
TASKS_VERSION=latest
PROJECTS_VERSION=latest
NOTIFICATIONS_VERSION=latest

# --- SECRETS DE BASE DE DONNÉES ---
# --- CONFIGURATION MYSQL GLOBALE ---
DB_ROOT_PASSWORD=db_root_password
DB_PASSWORD=db_password

# --- SÉCURITÉ GATEWAY ---
# Une clé arbitraire pour tester les sessions en local
GATEWAY_SESSION_SECRET=un_gateway_secret
RUN_MIGRATION="true"