# Node dependencies (tous les services backend + gateway)
**/node_modules

# Build TypeScript
**/dist

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
.env.local

# OS files
.DS_Store
Thumbs.db


# ===== FRONTEND  =====
frontend/node_modules/
frontend/test-results/
frontend/playwright-report/
frontend/blob-report/
frontend/playwright/.cache/
frontend/playwright/.auth/

# Coverage reports
coverage/
**/coverage/


# CSS généré par coverage report
prettify.css
